<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrador | Home</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- * propio -->
    <link rel="stylesheet" href="/static/css/administrador/administrador.css" />
    <link
      rel="stylesheet"
      href="/static/css/administrador/barra-de-navegacion.css"
    />
    <!-- <script src="/static/js/vendedor/vendedor.js" defer></script> -->

    <!-- ! BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- * AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- * Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- ! JS -->
    <script src="/static/js/administrador/modulos-empresa.js" defer></script>
  </head>
  <body>
    <div class="container-main">
      {% with activo = 'administrador' %} {% include
      'administrador/barra-de-navegacion.html' %} {% endwith %}

      <div class="maincontent">
        <div class="welcomcontainer">
          <div class="welcom">
            <div id="txtcontainer">
              <div class="fecha">
                <i class="fa fa-calendar-alt"></i>
                <span class="fecha-text">25 de abril de 2024</span>
              </div>
              <div id="mensajebienvenida">Modulos empresas</div>
            </div>
          </div>
          <div id="imagecontainer">
            <img id="logo" src="/static/imgs/vendedor/imagenes.png" alt="" />
          </div>
        </div>

        <div class="contenedor-tabla">
          <table class="table table-striped table-hover">
            <!-- <h4>Listado de empresas</h4> -->

            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">NIT</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Porcentaje ganancia</th>
                <th scope="col">Iva establecido</th>
                <th scope="col">Descuento general</th>
                <th scope="col">Licencia vigente hasta</th>

                <th scope="col">Modulos</th>
              </tr>
            </thead>

            <tbody id="empresas-tbody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
