<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="/static/js/administrador/barra-de-navegacion.js" defer></script>
  </head>
  <body>
    <div class="main-nav">
      <div class="top-container">
        <div class="img-user">
          <img src="/static/imgs/empresa/img-user.jpg" alt="" />
        </div>

        <div class="info-container">
          <b><p>Andres Pollito</p></b>
          <p>Administrador</p>
        </div>
      </div>

      <div class="mid-container">
        <hr />
        <a
          href="/administrador"
          class="nav-menu-item {% if activo == 'home' %}active-link{% endif %}"
        >
          <div class="icono-left-menu-item">
            <i class="fas fa-home"></i>
          </div>

          <div class="texto-left-menu-item">
            <label> Home </label>
          </div>
        </a>

        <a
          href="/administrador/empresas"
          class="nav-menu-item {% if activo == 'empresas' %}active-link{% endif %}"
        >
          <div class="icono-left-menu-item">
            <i class="fas fa-building"></i>
          </div>

          <div class="texto-left-menu-item">
            <label> Empresas </label>
          </div>
        </a>

        <a
          href="/administrador/administrador"
          class="nav-menu-item {% if activo == 'administrador' %}active-link{% endif %}"
        >
          <div class="icono-left-menu-item">
            <i class="fas fa-boxes"></i>
          </div>

          <div class="texto-left-menu-item">
            <label> Administrador </label>
          </div>
        </a>

        <hr />
      </div>

      <div class="bottom-container">
        <a
          onclick="logout()"
          class="nav-menu-item {% if activo == 'logout' %}active-link{% endif %}"
        >
          <div class="icono-left-menu-item">
            <i class="fas fa-door-open"></i>
          </div>

          <div class="texto-left-menu-item">
            <label> Cerrar sesión </label>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
