<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EliminarEmpresa</title>

    <script src="/static/js/vendedor/vendedor_productos.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jsbarcode@3/dist/JsBarcode.all.min.js"
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jsbarcode/dist/JsBarcode.all.min.js"
      defer
    ></script>

    <!-- * propio -->
    <link rel="stylesheet" href="/static/css/administrador/eliminarempresa.css" />
    <link rel="stylesheet" href="/static/css/administrador/barra-de-navegacion.css" />
    <script src="/static/js/vendedor/vendedor_productos.js" defer></script>
  </head>

  <body>
    <div class="main_container">
      {% include 'administrador/barra-de-navegacion.html' %}

      <div id="navtab">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home-tab-pane"
              type="button"
              role="tab"
              aria-controls="home-tab-pane"
              aria-selected="true"
            >
            Eliminar Empresa
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile-tab-pane"
              type="button"
              role="tab"
              aria-controls="profile-tab-pane"
              aria-selected="false"
            >
              <!-- Eliminar Empresa -->
            </button>

        <div class="tab-content" id="myTabContent">
          <!-- añadir productos -->
          <div
            class="tab-pane fade show active"
            id="home-tab-pane"
            role="tabpanel"
            aria-labelledby="home-tab"
            tabindex="0"
          >
            <form>
              <h4>Eliminar Empresa</h4>

              <div class="subcontainer">
                <div class="subbar left-bar">
                  <div class="form-item">
                    <label><strong>Nonbre de la empresa:</strong></label>
                    <input type="text" />
                  </div>

                  <div class="form-item">
                    <label><strong>Codigo De La Empresa:</strong></label>
                    <input type="text" id="codigoInput" />
                  </div>
                </div>

                <div class="subbar mid-bar">
                  <div class="form-item">
                    <label><strong>Nit</strong></label>
                    <input type="text" />
                  </div>


                

                  <div class="form-item">
                    <label><strong>E-mail</strong></label>
                    <input type="text" />
                  </div>

                  
                </div>
              </div>

              <div class="btn-wrapper">
                <button class="btn btn-warning">Eliminar</button>
                <button class="btn btn-danger">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
