<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.all.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.11.0/dist/sweetalert2.min.css
    " rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/vendedor/hacercotizaciones.css">
    <link rel="stylesheet" href="/static/css/vendedor/barra-nav-izq.css">
    <script src="/static/js/vendedor/vendedor_hacercotizaciones.js" defer></script>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</head>
<body>
    <div class="main-container">
        {% include 'vendedor/barra-nav-izq.html' %}
         <div class="container-cotizacion">

            <h2 id="textcotizacion"><strong>Hacer nueva cotización</strong></h2>
      
      
          <div class="stepper">
            
            <div class="step active" onclick="showStep(1)">1</div>
            <div class="line"></div>
            <div class="step" onclick="showStep(2)">2</div>
            <div class="line"></div>
            <div class="step" onclick="showStep(3)">3</div>
        </div>
        
        <!-- paso de agregar cliente -->
        <div class="step-content active" id="step1">
          <div class ="usuario-seleccionado">
            <h4>usuario seleccionado:</h4>
          </div>
          <div class="containertbl">
            <h4>Seleccione un usuario</h4>
            <div class="nav-buscar">
              <div class="num-elementos">
                <label for="numElementos" id="label-buscar">Mostrar:</label>
                <select id="numElementos">
                  <option value="10">10</option>
                  <option value="30">30</option>
                  <option value="100">100</option>
                </select>
              </div>

              <div class="buscador">
                <label for="search">Buscar por ID:</label>
                <input type="text" id="search" />
                <button onclick="buscar()" id="butombuscar">Buscar</button>
              </div>
              <div><button type="button" class="btn btn-primary">cotización anonima</button></div>
            </div>
            <table id="myTable">
              <thead>
                <tr>
                  <th>cedula</th>
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Compras Hechas</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody id="tableBody">
               
              </tbody>
            </table>
            <div id="pagination" class="pagination"></div>
          </div>


        </div>
        <!-- paso de agregar producto -->
        <div class="step-content" id="step2">

            <div class="container-agg">
              <div class="containertbl">
                <h2><strong>Selecccione los productos:</strong></h2>
                <div class="nav-buscar">
                  <div class="combobox">
                    <label for="itemelementos" id="labelde-buscar">Mostrar:</label>
                    <select id="itemelementos">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="30">30</option>
                    </select>
                  </div>
  
                  <div class="buscar">
                    <label for="search">Buscar por ID:</label>
                    <input type="text" id="search1" />
                    <button onclick="buscar1()" id="buton-buscar" class="search">Buscar</button>
                  </div>
                </div>
  
                <table id="Table-productos">
                  <thead>
                    <tr>
                      <th>id </th>
                      <th>Nombre </th>
                      <th>Stock</th>
                      <th>Proveedor</th>
                      <th>Descripción</th>                
                      <th>Agregar</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody-productos">
                    <!-- Los datos de la tabla se cargarán dinámicamente aquí -->
                   
                  </tbody>
                </table>
                <div id="paginacion" class="paginacion"></div>
                </div>
              <div class ="prodcuto-seleccionado">
                <h2><strong>Productos selecionado:</strong></h2>
                <table class="producttable">
                  <th>nombre</th>
                  <th>cantidad</th>
                   <th>opciones</th>
                </table>
              </div>
            </div>


        </div>
        <!-- paso de confirmar compra -->
        <div class="step-content" id="step3">
            <div  class="containercompra">
              <div class="cards-container"></div>
                <div class="total-compra">
                  <div class="resumen">
                    <h2>Resumen de Compra</h2>
                    <div class="linea"></div>
                    <p><strong>Total:</strong> <span id="total-placeholder">$</span></p>
                    <div class="linea"></div>
                    <div class="botones">
                        <button class="crearcotizacion" onclick="hacercotizacion('1')" >Hacer Compra</button>
                        <button class="crearcotizacion" onclick="hacercotizacion('0') ">Generar Cotización</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        
          
    
       
      </div>
    </div>
</body>
</html>