body{
  background-color: #f0ebeb;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  margin: 0;
}

.container-main {
  display: grid;
  grid-template-columns: 15% 85%;
  border: 5cap;
  height: 100vh;
  width: 100%;
}

.maincontent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto 10%;
  height: 100%;
  width: 100%;

  padding: 3%;

  overflow: scroll;

  box-sizing: border-box;
}

.contenedor-tabla{
  width: 100%;
  padding: 5%;
}


#empresa{
  background-color:#38B6A0;
}

#bienvenido{
  display: grid;
  color: aliceblue;
  grid-template-rows: 20% 80%;
}

#logo{
  width: 120px;
  height: auto;
  box-sizing: border-box;
  object-fit: cover; 
}

.welcom {
  position: relative;
  display:grid;
  height: 100%;
  width: 100%;
  border-radius:15px;
  background-color: #031D2E;
  grid-template-columns: 85% 15%;
  box-sizing: border-box;
  grid-template-columns: 70% 30%;
  -webkit-box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.45);
  box-shadow: 7px 10px 28px -8px rgba(0,0,0,0.45);
}


#imagenitem{
  width: 30px;
  height: 30px;
}

.imgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%; 
  width: 60%;
  height: 40%;  
  align-items: center;
  margin-left: 25px;
  border-style: none;
}


#txtcontainer{
  display: grid;
  grid-template-rows: 20% 80%;
  color: #ccc;
}

.fecha{
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}

.fecha .fa-calendar-alt {
  margin-right: 10px;
  color: #ffffff; 
}

#mensajebienvenida{
  font-size: xx-large;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

#logo{
  width: auto;
  height: 80%;
  margin-left: 40px;
}


table {
  border-collapse: collapse;
  width: 100%;
  
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.verde {
  background-color: green;
}

.rojo {
  background-color: red;
}

.boton-modulos {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  grid-area: 50%;
}