<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empresa | Home</title>

        <!-- ! ESTILOS EXTERNOS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
            />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <!-- ! BOOTSTRAP -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            
        <!-- ! Shared -->
        <link rel="stylesheet" href="/static/css/empresa/shared.css">
        <link rel="stylesheet" href="/static/css/empresa/colors.css">
        <link rel="stylesheet" href="/static/css/empresa/barra-nav-izq-empresa.css">
        <link rel="stylesheet" href="/static/css/empresa/big-banner-empresa.css">
        <link rel="stylesheet" href="/static/css/empresa/empresa-modal.css">
        <script src="/static/js/empresa/empresa-modal.js" defer></script>

        <!-- ! propio -->
        <link rel="stylesheet" href="/static/css/empresa/empresa-provedor-ver.css">

        <!-- * Iconos font awesome -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k4e0s16K3+HXadlk2vdq33yGT5r4msbR2AZd0Jb41e/WWWeC73RJkmbsUKM5Xv6m" crossorigin="anonymous"> -->
    </head>

    <body>
        <div class="main-container">
            <div class="left-nav-wrapper">
                {% with activo = 'provedores' %}
                    {% include "empresa/barra-nav-izq-empresa.html" %}
                {% endwith %}
            </div>

            <div class="main-dashboard-empresa">
                <div class="top-banner">
                    {% with tituloBanner = 'Provedores' %}
                        {% include "empresa/big-banner-empresa.html" %}
                    {% endwith %}
                </div>

                <!-- ! MAIN SECTION -->
                <div class="main-section-dashboard">
                    <div class="main-orden-wrapper">
                        <h2>Provedor</h2>
                        <div class="orden-details">
                            <p><b>Nombre: </b>Seguridad y Trabajo S.A.S</p>
                            <p><b>Nit: </b>1043812332</p>

                            <p><b>Estado: </b>Activo</p>
                            <p><b>Dirección: </b>	Calle 34 #45 - 56</p>
                            <p><b>Teléfono: </b>301 343 3267</p>
                        </div>

                        <h4>Stock del provedor:</h4>

                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Provedor</th>
                                <th scope="col">Cantidad en stock</th>
                                <th scope="col">Valor unitario</th>

                                <th scope="col">Ver</th>
                              </tr>
                            </thead>

                            <tbody>
                                {%for i in range(5)%}
                                    <tr>
                                        <th scope="row">1212432</th>
                                        <td>Cámara HK visión pro</td>
                                        <td>Seguridad y Trabajo S.A.S</td>
                                        <td>12</td>
                                        <td>$ 340.000</td>

                                        <td>
                                            <a
                                                onclick="showModal('{{ i }}')"
                                                class="btn btn-primary"
                                                title="Ver producto en detalle"
                                            >
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="modalProductos" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        
                        <div class="producto-modal">
                            <h3>Detalles del producto</h3>

                            <div class="info-producto">
                                <p><b>Nombre: </b>Cámara HK vision PRO 2</p>
                                <p><b>Descripción: </b>Cámara con visión nocturna</p>
                                <p><b>Código: </b>324 2112 42432 342</p>
                                <p><b>Valor unitario: </b>$450.000</p>
                            </div>

                            <label>Imágen</label>
                            <div class="img-container">
                                <img src="/static/imgs/empresa/producto-defecto.png" alt="">
                            </div>

                            <div class="info-cantidad">
                                <p><b>Cantidad: </b>34</p>
                                <p><b>Cantidad mínima de existencia: </b>120</p>
                            </div>

                            <div class="codigo-barras-wrapper">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
