
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empresa | Home</title>

        <!-- ! ESTILOS EXTERNOS -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
            />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <!-- ! BOOTSTRAP -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            
        <!-- ! Shared -->
        <link rel="stylesheet" href="/static/css/empresa/shared.css">
        <link rel="stylesheet" href="/static/css/empresa/colors.css">
        <link rel="stylesheet" href="/static/css/empresa/barra-nav-izq-empresa.css">
        <link rel="stylesheet" href="/static/css/empresa/big-banner-empresa.css">

        <!-- ! MODAL -->
        <!-- <script src="/static/js/empresa/empresa-modal.js" defer></script> -->
        <link rel="stylesheet" href="/static/css/empresa/empresa-modal.css">

        <!-- ! propio -->
        <link rel="stylesheet" href="/static/css/empresa/empresa-vendedores.css">

        <!-- * Iconos font awesome -->

        
        <!-- * COTIZACION -->
        <!-- * AXIOS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- * Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- ! JS -->
        <script src="/static/js/empresa/empresa-vendedores.js" defer></script>
    </head>

    <body>
        <div class="main-container">
            <div class="left-nav-wrapper">
                {% with activo = 'vendedores' %}
                    {% include "empresa/barra-nav-izq-empresa.html" %}
                {% endwith %}
            </div>

            <div class="main-dashboard-empresa">
                <div class="top-banner">
                    {% with tituloBanner = 'Vendedores' %}
                        {% include "empresa/big-banner-empresa.html" %}
                    {% endwith %}
                </div>

                <!-- ! MAIN SECTION -->
                <div class="main-section-dashboard">
                    <div class="provedores-wrapper">
                        <a
                            href="/empresa/vendedores/crear"
                            class="btn btn-warning"
                        >
                            <i class="fas fa-plus"></i>
                            Agregar vendedor
                        </a>

                        <hr>

                        <h2>Listado de vendedores</h2>

                        <table class="table table-striped table-hover">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Cédula</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Usuario</th>

                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>  

                
                <!-- MODAL EDICION -->
                <div id="modalVendedor" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>

                        <div class="vendedor-modal">
                        <h3>Editar Vendedor</h3>

                        <form id="editarVendedorForm" action="#" method="post" style="width: 100%">
                            <div class="card">
                            <div class="card-header">Información del Vendedor</div>
                            <div class="card-body">
                                <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" />
                                </div>
                                <div class="form-group">
                                <label for="apellidos">Apellidos:</label>
                                <input type="text" class="form-control" id="apellidos" name="apellidos" />
                                </div>
                                <div class="form-group">
                                <label for="cedula">Cédula:</label>
                                <input type="text" class="form-control" id="cedula" name="cedula" />
                                </div>
                                <div class="form-group">
                                <label for="direccion">Dirección:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" />
                                </div>
                                <div class="form-group">
                                <label for="telefono">Teléfono:</label>
                                <input type="text" class="form-control" id="telefono" name="telefono" />
                                </div>
                                <div class="form-group">
                                <label for="usuario">Usuario:</label>
                                <input type="text" class="form-control" id="usuario" name="usuario" />
                                </div>
                            </div>
                            </div>
                        </form>

                        <br />

                        <button id="guardarCambios" class="btn btn-success">
                            <i class="fas fa-check"></i>
                            Guardar cambios
                        </button>
                        </div>
                    </div>
                </div>
  
            </div>
            
        </div>
    </body>
</html>
