.main-big-banner{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 3fr 1fr;

    background-color: #031D2E;
    border-radius: 6px;
    color: white;
}

.main-big-banner .left-side{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 50% 50%;

    padding: 20px;
    box-sizing: border-box;
}

.left-side .date-container{
    width: 100%;    
    height: 100%;
}

.date-container label{
    background-color: #223846;
    padding: 5px;
    border-radius: 2px;
}

.left-side .title-container{
    font-size: 35px;
}

.main-big-banner .right-side{
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;
}

.right-side .right-side-img-wrapper{
    width: 100px;
    height: 100px;
}

.right-side .right-side-img-wrapper img{
    width: 100%;
    height: 100%;
}